---
title: "Boletín"
subtitle: "nuestro índice"
description: "Índice de boletines de Parque Amarillo. Opinión, cultura y recomendaciones en cada edición."
permalink: /boletin/
layout: layouts/default
---

<div class="container mt-12">
  <h1 class="font-bold text-4xl font-headline md:text-5xl text-neutral-900">{{ title }}</h1>
  <p class="max-w-[65ch] font-body text-neutral-600 mt-8">
    Parque Amarillo ha sido concebido como un boletín y blog para compartir artículos de opinión sobre una cosa y otra, en el campo de la actualidad, cultura y sociedad. Pero en un espíritu de abundancia y aleatoriedad, se nos han filtrado toda clase de locuras extras.
  </p>
  <hr class="w-16  my-8 border-b-2 border-accent"/>
</div>
<div class="container pb-16">
  {% for newsletter in collections.boletin | reverse %}
    <a href="{{newsletter.url}}" class="w-full mx-auto flex justify-between items-center py-16 gap-8 border-b-2">
      <h2 class="text-3xl text-center lg:text-4xl font-bold">
        {{ newsletter.data.title }}
      </h2>
      <p>
        {{ newsletter.date | readableDate }}
      </p>
    </a>
  {% endfor %}
</div>